body{
    margin: 0;
    padding: 0;
    color: #845f3f;
}
td,th{
    display: table-cell;
    text-align: center;
    vertical-align: middle!important;
    padding: 2px!important;
}
button{
    outline: none!important;
    color: #fff;
}