<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>有品</b>商品信息管理系统</a>
    </div>
    <!-- /.login-logo -->
    {{if type == 'login'}}
    <div class="login-box-body login">
        <p class="login-box-msg">欢迎登录</p>
        <form id="login-form" method="POST">
            <div class="form-group has-feedback">
                <input type="text" class="form-control username" name="username" placeholder="管理员账号(手机号)">
                <span class="glyphicon glyphicon-lock fa fa-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control password" name="password" placeholder="密码">
                <span class="glyphicon glyphicon-lock fa fa-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <div class="err-tip">
                            <em class="icon-error"></em>
                            <span>请输入</span>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-success btn-block btn-flat login-submit">登录</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <!-- /.social-auth-links -->

        <!-- <a href="JavaScript:;">忘记密码?</a><br> -->
        <a href="javascript:;" data-type="register" class="text-center switch-btn">没有账号?去注册</a>

    </div>
    <!-- /.login-box-body -->
    {{ else }}
    <div class="login-box-body register">
        <p class="login-box-msg">开始注册</p>
        <form id="register-form">
            <div class="form-group has-feedback">
                <input type="text" class="form-control username" name="username" placeholder="用户名(手机号)">
                <span class="glyphicon glyphicon-lock fa fa-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control password" name="password" placeholder="密码">
                <span class="glyphicon glyphicon-lock fa fa-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control checkpassword" placeholder="确认密码">
                <span class="glyphicon glyphicon-lock fa fa-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="email" class="form-control email" name="email" placeholder="邮箱">
                <span class="glyphicon glyphicon-lock fa fa-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="nickname" placeholder="昵称">
                <span class="glyphicon glyphicon-lock fa fa-transgender-alt form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <div class="err-tip">
                            <em class="icon-error"></em>
                            <span>请输入</span>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat register-submit">注册</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <!-- /.social-auth-links -->
        <a href="javascript:;" data-type="login" class="text-center switch-btn">已有账号?去登录</a>

    </div>
    {{ /if}}
</div>